@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:wght@300;400&display=swap');

body {
	background: url(/clever/bank/images/pexels-tima-miroshnichenko-6694965.jpg)
		no-repeat center center/ cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.heading {
	color: white;
}
.withdraw {
	margin-bottom: 50px;
}
.container {
	/* background-color: white; */
	/* width: 550px;
	height: 450px;
	border-radius: 40px; */
}
input[type='text'] {
	padding: 20px 20px;
	border-radius: 20px;
}
input[type='text']::placeholder {
	color: black;
	font-weight: 400;
}

button {
	padding: 20px;
	border-radius: 20px;
	color: blue;
	font-weight: 600;
	font-family: 'Inter', sans-serif;
	margin-left: 30px;
	box-shadow: 1px 1px 5px;
}

button:hover {
	background-color: dodgerblue;
}
#Balance,
#low-balance {
	color: white;
	font-family: 'Inter', sans-serif;
}
